<div class="im1" style="padding-bottom: 50px;">
    <div class="im3">
        <h1 style="background-color: transparent;">START TO CHANGE YOURSELF</h1>
        <p>A big change starts with a small step. Our expert team will create a special program following your health <br>
            and body needs. Start it now.</p>
            <span class="ligne"><span class="ligne2"></span></span>
    </div>
  
    <div class="img4" style="margin-top: 50px;margin-bottom: 50px;">

    </div>

    <div class="img5">
        <div class="img55">
            <span class="img555"><p class="p">1</p>
            </span>
   <img src="../../assets/images/fancy_01.jpg" alt="">
        </div>
        <div >
            <img src="../../assets/images/icon-right.png" alt="" class="fl">
               <hr>
        </div>
        <div class="img66">
            <div class="img555"><p class="p">2</p></div>
   <img src="../../assets/images/fancy_02.jpg" alt="">
        </div>
        <div >
            <img src="../../assets/images/icon-right.png" alt="" class="f2">
               <hr class="hr2">
        </div>
        <div class="img66">
            <div class="img555"><p class="p">3</p></div>
   <img src="../../assets/images/fancy_03.jpg" alt="">
        </div>
    </div>
    <div class="cc1">
         <div class="t1">
             <h1>SPENDING TIME</h1>
           <div style="width: 300px;text-align: center;"> <p style="color: #BCBCBC;">Before changing yourself, take a reasonable time to be able to practice every day</p></div>
         </div>
         <div class="t2">
            <h1>START TRAINING</h1>
          <div style="width: 300px;text-align: center;"> <p style="color: #BCBCBC;">Start practicing with the spirit of determination and the best you can, never give up</p></div>
        </div>
        <div class="t3">
            <h1>TRAINING RESULTS</h1>
          <div style="width: 300px;text-align: center;"> <p style="color: #BCBCBC;">no matter how little or much you exercise, your body changes from day to day</p></div>
        </div>
    </div>
</div>
