.f1{

    background-color: black;
    text-align: center;
    padding: 28px 172px 16px 172px;
}
.f2{
  
    height: 99px;
     display: flex;
     border-style: solid;
     border-width: 0px 0px 1px 0px;
     border-color: #FFFFFF40;
}
.f3{
    text-align: left;
    height: 79px;
    width: 807px;
    padding: 10px;
}
p{
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.28px;
    font-family: epilog, sans-serif;
    margin-bottom: 40px;
}
span{
    color: #ffc702;
}
input{
    padding: 0px 20px;
    border:1px solid #d8d8d8;
    height: 50px;
    width: 224px;
    font-size: 14px !important;
    font-family: epilog2, sans-serif;
    font-style: italic;
}
input:focus{
    outline: none;
}
button {
    font-family: inherit;
    font-size: 20px;
    background: #ffc702;
    color: black;
    display: flex;
    align-items: center;
    border: none;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    height: 52px;
    width: 50px;
    text-align: center;
    padding-left: 10px;
  }
  
  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  button:hover span {
    transform: translateX(5em);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  
.f4{
    background-image: url(../../assets/images/footer_overlay.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    opacity: 1;

    background-color: black;
    height: 379px;
}
.f5{
  padding: 40px 172px 0px 172px;
  display: flex;
}
.f6{
  display: block;
  padding: 16px;
  width: 270px;
}
.p2{
  width: 270px;
  height: 100px;
  margin-top: 30px;
  font-size: 15px;
  word-wrap: break-word;
  color: #bcbcbc;
  transition: all 300ms ease 0s;
  font-family: epilog2, sans-serif;
  line-height: 1.68;
  font-weight: normal;
  letter-spacing: 0.01em;
}
.img1{
  width: 195px;
  height: 35px;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-flex; /* Affiche la puce et le texte sur la même ligne */
  align-items: center; /* Centre le contenu verticalement */
  color: aliceblue; /* Couleur du texte de l'élément */
  margin-right: 10px; /* Ajoute un espacement entre les éléments */
}

li::before {
  content: '\2022';
  color: #ffc702; /* Couleur de la puce */
  margin-right: 5px;
}
a{
  margin-bottom: 9px;
  text-decoration: none;
  font-size: 15px;
  word-wrap: break-word;
  color: #bcbcbc;
  transition: all 300ms ease 0s;
  font-family: epilog2, sans-serif;
  line-height: 1.68;
  font-weight: normal;
  letter-spacing: 0.01em;
  transition: all 200ms linear 0s;
  border-bottom: 1px solid transparent;
}
a:hover{
  color: #FFFFFF;
  border-bottom-color: inherit;
}
.p3{
  font-size: 15px;
  word-wrap: break-word;
  color: #bcbcbc;
  transition: all 300ms ease 0s;
  font-family: epilog2, sans-serif;
  line-height: 1.68;
  font-weight: normal;
  letter-spacing: 0.01em;
  margin-left: 10px;
  transition: all 200ms linear 0s;
  cursor: pointer;
}
.p3:hover{
  color: #ffc702;
}
.p4{
  width: 270px;
  font-size: 15px;
  word-wrap: break-word;
  color: #bcbcbc;
  transition: all 300ms ease 0s;
  font-family: epilog2, sans-serif;
  line-height: 1.68;
  font-weight: normal;
  letter-spacing: 0.01em;
  margin-left: 10px;
  transition: all 200ms linear 0s;
  cursor: pointer;
  margin: 0;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #FFFFFF40;
  padding-bottom: 12px;
}
.f7{
  background-color: #0F0F0F;
  height: 50px;
  padding: 14px 0px;
  text-align: center;
}
.p5{
  font-family: epilog,sans-serif;
  clear: both;
  line-height: 1.25;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 15px;
  padding: 15px;
}
.s2{
  font-family: epilog,sans-serif;
  clear: both;
  line-height: 1.25;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 15px;
  color: #ffc702;
}