<div class="b1">
 <div class="b2">
   <img src="../../assets/images/gym_icon1.png" alt="">
   <h2>increase muscle and lose fat with gym</h2>
   <p>In many health training methods, muscle-strengthening gym is an exercise that requires high persistence, strength and technique. It may be difficult to start with, but once the practice becomes a habit and the movements are embedded in your muscle memory, everything will not be a problem.</p>
     <div class="point">
         <div class="p1">
          <span class="material-symbols-outlined">
            album
            </span>
          <p>better body</p>
         </div>
         <div class="p1">
          <span class="material-symbols-outlined" style="margin-left: 151px;">
            album
            </span>
          <p>Keeps the heart healthy</p>
         </div>
     </div>
     <div class="point">
      <div class="p1" >
       <span class="material-symbols-outlined">
         album
         </span>
       <p>Increased sex life</p>
      </div>
      <div class="p1">
       <span class="material-symbols-outlined" style="margin-left: 100px;">
         album
         </span>
       <p>Maintain flexibility and health</p>
      </div>
  </div>
  <button class="b3"> READ MORE</button>
 </div>
 <div>
    <img src="../../assets/images/s_gym.jpg" alt="" class="i2">
 </div>
</div>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />