.mp{
    padding: 0;
    margin: 0
}
iframe{
    height: 600px;
    filter: brightness( 100% ) contrast( 100% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
}
iframe:hover  {
    filter: brightness( 100% ) contrast( 100% ) saturate( 90% ) blur( 0px ) hue-rotate( 0deg );
}
.ii{
   background-image: url(../../assets/images/location_bg.png); 
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding: 45px 40px;
   width: auto;
   height: auto;
   position: absolute; 
   z-index: 1;
    background-color: black;
    margin-left: 120px;
    margin-top: 100px;
}
p{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 7px;

    margin-top: 0;
    width: 317px;
    text-align: center;
}
h3{
    color: #ffc702;
    font-size: 25px;
    letter-spacing: 0.08em;
    font-family: epilog, sans-serif;
    text-transform: uppercase;
    width: 317px;
    text-align: center;
}
.p2{
    width: 317px;
    height: auto;
    text-align: center; 
    font-family: epilog2, sans-serif;
    margin-bottom: 5px;
    text-align: center;
}
span{
    text-decoration: underline;
}
.pagination {
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    margin-top: 158px;
   
  }
  
  .pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination-bullet.active {
    background-color: #007aff;
  }
  
  /* New styles for active pagination bullet */
  .pagination-bullet.prev-active {
    background-color: #ccc;
  }
  