.homepage{
    background-image: url('../../assets/images/ptt_faqs.jpg');
    height: 458px;
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}
.homepage2{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; /* Prend la hauteur de la div parent .homepage */
    width: 100%; /* Prend la largeur de la div parent .homepage */
    background-color: rgba(0, 0, 0, 0.5); /* Ajoute la transparence ici */
    height: 458px;
    width: 86%;
    padding: 0px 110px 0px 100px;
    top: 0; /* Ajoutez ceci pour aligner sur le haut de la div parent */
    left: 0; /* Ajoutez ceci pour aligner sur la gauche de la div parent */
}
.homepage3{
    display: flex;
    justify-content: space-between;
    position: relative; /* Assurez-vous que la position est relative pour que les z-index fonctionnent */
    z-index: 1; /* Réglez le z-index selon vos besoins */
    top: 183px;
}
.homepage3 h1{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    font-style: italic;

    font-family: "Epilogue", sans-serif;
}
.homepage3 p {
    color: #EDEDED;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    width: 507px;
    font-family: "Epilogue", sans-serif;
}
.homemain{
    margin: 20px 0px 20px 0px;
    text-align: right;
    height: 50px;
    width: 634px;
    position: relative; /* Assurez-vous que la position est relative pour que les z-index fonctionnent */
    z-index: 2; /* Réglez le z-index selon vos besoins */
}
.homemain2{
    margin: 0;
    list-style: none;
    color: #c8c8c8;
    display: inline-block;
    padding: 13px 30px 12px;
    background-color: rgba(255, 255, 255, 0.15);
 
}
.homemain2 a {
    text-decoration: none;
    color: #c8c8c8;
    font-family: "Epilogue", sans-serif;
    transition: all 300ms ease 0ms;
}
.homemain2 a:hover {
    border-bottom: 1px solid #FFFFFF;
}
.homemain2 span{
    color: #ffffff;
}
.marque  {
    -webkit-text-stroke: 0.1px #666666; /* Crée une bordure noire autour de chaque lettre */
    display: inline-block;
    font-size: 200px;
    line-height: 1;
    font-weight: 900;
    color: transparent;
    font-style: italic;
    opacity: 0.5;
    width: 100%;
    position: absolute;
    z-index: 2;
}
.marque span{
    display: inline-block;
    padding-left: 100%;
    text-indent: 0;
    animation: marquee 8s linear infinite;
}
.marque span:hover{
    animation-play-state: paused;
}
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}
.in{
    display: flex;
    justify-content: center;
    margin-left: 15px;
}
.in1{
    width: 297px;
    height: 177px;
    text-align: center;
    padding: 10px;
    display: block;
}
.icone{
    margin-bottom: 20px;
}
.icone svg{
    width: 47px;
    height: 47px;
    fill: #FFC702;
    color: #FFC702;
    border-color: #FFC702;
}
.in1 h3{
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: "Epilogue", sans-serif;
}
.in1 p{
    color: #BCBCBC;
    font-size: 15px;
}
.social{
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #BCBCBC;

}
.social i {
    color: #fff;
    margin-top: 8px;
    font-size: 25px;
    transition: all 300ms ease 0ms;
}
.social:hover{
    background-color: #FFFFFF;
    cursor: pointer;
}

i:hover{
color: black;
}
.social:hover i {
    color: black;  
}
.formul {
    display: flex;
}
.formul2{
    margin-left: 80px;
    margin-right: 80px;
}
.formul2 h2{
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: black;
    font-family: "Epilogue", sans-serif;
    margin: 0;
    margin-top: 115px;
}
.formul2 p { 
    color: #666666;
    margin-top: 20px;
    width: 557px;
}
input{
    background-color: #fff;
    border: 1px solid #c2c2c2;
    font-family: "Epilogue", sans-serif;
    color: #060606;
    width: 299px;
    padding-left: 15px;
    border-radius: 0;
    line-height: 48px;
    font-size: 14px !important;
    font-style: italic;
    outline: none;
}
textarea{
    width: 618px;
    padding: 13px 20px;
    height: 172px;
    outline: none;
}
.b3 {
    margin-right: 7px;
    height: auto;
    background-color: #060606;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    padding: 0 35px;
    line-height: 50px;
    transition: all 300ms ease 0ms;
    border-radius: 0;
    position: relative;
    z-index: 1;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    cursor: pointer;
    font-weight: bold;
  }
  
  .b3::before {
    content: '';
    position: absolute;
    width: 207px;
    height: 100%;
    background-color: inherit;
    z-index: -1;
    top: 0;
    left: 0;
  }
  
  .b3::after {
    content: '';
    position: absolute;
    width: 225px;
    height: 100%;
    background-color: transparent;
    border: 1px solid black;
    top: 0;
    left: 0;
    transform: translate(7px, 7px);
    z-index: -2;
    transition: all 230ms ease 0ms;
  }
  
  .b3:hover:after {
    transform: translate(4px, 4px);
  }