.admin1{
  display: flex;
}
.a1{
  background-color: #fff;
  border: 1px solid #eaeaea;
  height: 100%;
  padding: 175px 0 0 5px;
  position: sticky;
  width: 300px;
  padding: 66px 0 0 8px;

}
a{
  border-radius: 8px;
  color: #1a3760;
  display: block;
  font-size: 13px;
  font-style: normal;
  font-family: Inter,sans-serif;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0;
  margin: 2px 30px;
  padding-left: 20px;
  transition: all .3s ease;
  text-decoration: none;   
  height: 55px;
}
a:hover{
  background-color: #f5c34b;;
}
i{
  margin-right: 10px;
}
.a2{
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-top: 90px;
  padding-left: 55px;
  border-top:  1px solid #eaeaea;    
   height: 842px;
}
.a3{
  height: 65px;
  margin-bottom: 50px;
}
h2{
  font-family: Inter,sans-serif;
  line-height: 1.2;
  color: #1a3760;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 8px;

}
.add{
  width: 295px;
  height: 70px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 30px 30px 35px;
  margin-right: 12px;
  margin-left: 12px;
}
.add1{
  border-radius: 50%;
  background-color: rgba(25,72,226,.07);
  float: left;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 70px;
}
.add2{
  float: right;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0;
  color: #1947e2;
  font-family: Inter,sans-serif;
}
.p{
  color: #1a3760;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
  margin-top: 8px;
}
.add4{
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 30px;
  width: 529px;
  height: 365px;
  margin-right: 12px;
}
h4{
  font-family: Inter,sans-serif;
  line-height: 1.2;
  color: #1a3760;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 1.5rem!important;  
}
.add5{
  padding: 30px;
  width: 490px;
  height: 500px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  margin-left: 12px;
}
.p2{
  margin: 0 0 10px;
  font-size: 15px;
  font-family: Inter,sans-serif;
}
span{
  margin-right: 15px;
}
.modal {
  display: none;
  position: fixed;
  top: 0; /* Positionnement au sommet de la page */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal.show {
  display: block;
}

.modal-dialog {
  position: absolute;
  top: 10%; /* Centrez le modal verticalement */
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  animation: slideDown 0.5s ease, fadeIn 0.5s ease;
}

.modal-content {
  padding: 20px;
}

.modal-header {
  border-bottom: 1px solid #ccc;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@keyframes slideDown {
  0% { top: -100%; }
  100% { top: 00%; } /* Animer vers le centre de la page */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

