.e1{
    background-color: black;
    margin: 0;
    padding-top: 130px;
}
.e2{
    text-align: center;
}
h1{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: 0.05em;
    font-family: epilog, sans-serif; 
}
p{
    text-align: center;
    font-size: 15px;
    color: aliceblue;
    line-height: 1.52em;
    font-family: epilog2, sans-serif; 
}
.ligne{
    display: inline-flex;
    width: 284px;
    height: 1px;
    background-color: #d8d8d8;
    position: relative;
} 

.ligne:before{
    left: 50%;
    transform: translateX(-50%) skewX(-45deg);
    content: "";
    display: block;
    width: 112px;
    height: 4px;
    position: absolute;
    left: 139px ;
    top: -2px;
    background-color: #FFC702;
}
  .cart{
    padding-left: 140px;
    display: flex;
    margin-top: 50px;
    height: 701px;
    
  }
  .c1{
    width: 388px;
    height: 281px;
    padding: 15px;
    margin-right: 5px;
 
}
.c2{
   
    width: 388px;
    height: 281px;
}
.c3{
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-top: none;
    padding: 20px 20px 30px;
    transition: all 300ms linear 0s;

}
.cc3{
    display: flex;
    align-items: flex-start;
}
.c4{
    text-align: left;
}
.cc4{
    font-size: 17px;
    text-transform: uppercase;
    line-height: 26px;
    text-align: left;
    color: #060606;
    font-family: epilog, sans-serif; 
    transition: all 300ms ease 0ms;
}
.cc4:hover{
    color: #FFC702;
}
span{
    position: relative;
    top: 4px;
    font-size: 16px;
    margin-right: 5px;
    color: #999;
}
img{
    width: 388px;
    height: 281px;  
    transition: transform 0.3s ease;
    z-index: 1;
    position: absolute;
}
img:hover{
    transform: scale(1.01);
}
.c1:hover img{
    transform: scale(1.01); 
}
.p2{
    color: #060606;
    font-size: 17px;
    text-transform: uppercase;
    font-family: epilog, sans-serif; 
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: 0.05em;
    text-align: left;
}
.cc2{
    position: relative;
     z-index: 2;
     top: 30px;
     left: 22px ;
    width: 80px;
    text-align: center;
    font-family: epilog, sans-serif;
    display: block;
}
.ccc2{
    background-color: #060606;
    padding: 10px 0;
    font-size: 30px;
    letter-spacing: 0;
    font-weight: bold;
    color: #fff;
    line-height: 1;
}
.cccc2{
    padding: 10px 0;
    background-color: #fff;
    
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.05em;
    line-height: 1;
}
.c5{
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #d8d8d8;
}
a{
    font-family: epilog, sans-serif;
    font-size: 14px;
    letter-spacing: 0.15em;
    font-weight: bold;
    text-transform: uppercase;
    color: #060606;
    
}