<div class="h1">
 <div class="h2"> 
    <div class="h3">
      <div class="h4">
         <span >WE PROVIDE YOU WITH BEST SERVICE OF HEALTHY</span><br><br><br>
         <button type="submit" class="btn btn-primary" class="b3">
         more about us
          </button>
      </div>
    </div>
    <div class="h33">
     <p>We want to help you live a fit and healthy lifestyle! We do this by helping you find the most suitable equipment for your home gym, studio or commercial gym, keeping your budget, lifestyle and fitness goals in mind. We stock a wide range of gym equipment, with strength equipment, cardio, cross training and so much more.</p>
     <p style="margin-bottom: 43px;">We believe that no investment is more valuable than one’s own. When investing properly in exercise, the benefits that customers get are not only aesthetic.</p>
    <div class="number">
       <div class="number1">
        <div class="counting-number">{{ currentNumber1 }}+ <br>
            <h4>CUSTOMER</h4>
        </div>
       </div>
       <div class="number1">
        <div class="counting-number">{{ currentNumber2 }}+ <br>
            <h4>PROFESSIONAL COACH</h4>
        </div>
       </div>
    </div>
   
    </div>
 </div>
</div>
