/* You can add global styles to this file, and also import other style files */
@import '~aos/dist/aos.css';

@font-face {
    font-family: "epilog";
    src: url('./assets/fonds/Epilogue-Black.ttf') format('truetype');
}
@font-face {
    font-family: "epilog2";
    src: url('./assets/fonds/Epilogue-Light.ttf') format('truetype');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
