<div class="t1">

    <div class="t3">
        <div class="carousel" #cardContainer>
            <div class="t4" *ngFor="let item of items; let i = index">
                <img [src]="item.imageSrc" alt="">
            </div>
        </div>
    </div>
    <div class="navigation-buttons">
        <button (click)="prevSlide()" class="pre"><span class="material-symbols-outlined">
            keyboard_backspace
            </span></button>
        <button (click)="nextSlide()" class="suv"><span class="material-symbols-outlined">
            arrow_right_alt
            </span></button>
    </div>
</div>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  